body{
    width: 100%;
    height: 100vh;
}

/* NavBar  */
.leftSpacing {
    margin-left: 57rem;
}
.navFormat {
    background-color: rgb(0, 24, 69) !important ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container{
    margin-left: 0 !important;
}
.botton {
    display: inline-block;
}

.bbt {
    padding-left: 600px;

}
.rightSpacing {
    margin-right: 170px;
}
.btn-responsive {
    
    white-space: normal !important;
    word-wrap: break-word;
    background-color: rgb(0, 4, 85  ) !important ;
    margin-left: 100px;
    border-radius: 30px ;

}

.btn-responsive-2{
     border-radius: 30px ;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btn-responsive {
        margin-bottom: 10px; 
         margin-left: 19px;
        padding-right: 20px; 
        margin-right: -15px;           
 }
 .container-x {
     margin-left: 27px;
     margin-right: -2px;
    
 }
 .padTop{
    margin-top: -20px;

 }

 
 .display{
     display: none;
     visibility: hidden;
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .btn-responsive {
        margin-bottom: 20px;
    }
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .btn-responsive {
        margin-bottom: 10px; 
         margin-left: -40px;
        padding-right: 20px; 
        margin-right: -15px;           
 }
 .container-x {
     margin-left: 27px;
     margin-right: -2px;
    
 }
 .padTop{
    margin-top: -20px;

 }
 .display{
     display: none;
     visibility: hidden;
 }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .btn-responsive {
        margin-bottom: 10px; 
         margin-left: -40px;
        padding-right: 20px; 
        margin-right: -15px;           
 }
 .container-x {
     margin-left: 27px;
     margin-right: -2px;
    
 }
 .padTop{
    margin-top: -20px;

 }
 .display{
     display: none;
     visibility: hidden;
 }
 }


 }