@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: 'Nunito', sans-serif !important;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F6F9FF;
}

.uk-navbar-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}


.header-text,
.illus {
  height: 100vh;
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
}

.header-info {
  margin-left: 5rem;
}

.image-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

.image-container img {
  height: 100%;
}



@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}


/* About Us Styles */
.about-body {
  padding-left: 3rem;
  background-image: url('../images/LogoBlack.png');
  background-repeat: no-repeat;
  background-position: right 30px center;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.aboutUs-container {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
  height: 100%;
  width: 800px;
}

.subtitle {
  font-weight: 700;
  font-size: larger;
}