 .uk-navbar-container {
    width: 100%;
    background-color: #0f1011 !important;
    color: #ffffff !important;
    margin-bottom: 2rem;
}
 .uk-navbar-nav>li>a {
    color: #ffffff !important;
    text-transform: capitalize !important;
}
 .logo {
    height: 45px;;
}
 .font-size-nav {
    font-size: 1.5rem !important;
}
 .font-size-user {
    font-size: 1rem !important;
}
 .uk-link, a {
    color: #999999 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px !important;
}
 .avatar {
    height: 65px;
    border-radius: 50%;
    width: 65px;
}
 .wallet-address {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
 .uk-tooltip {
    background-color: transparent !important;
}
 .uk-navbar-dropdown {
    left: 100px !important;
}
 hr {
    width: 100%;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #9999995c; /* old IE */
    background-color: #9999995c; /* Modern Browsers */
}
 .header {
    font-weight: 400 !important;
    color: #666 !important;
}
 .input-fields {
    border-radius: 5px !important;
    background-color: #f6f6f6 !important;
    height: 50px !important;
}
 .uk-link, a {
    color: #999999 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
.headerButtonSend {
    color: #ffffff !important;
    background-color: #023E7D !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
}
.headerButtonRequest {
    color: #ffffff !important;
    background-color: #7D8597 !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
}
.headerButtonHistory {
    color: #ffffff !important;
    background-color: #023E7D !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    font-size: 25px !important;
    padding: 10px 20px 10px 20px !important;
}
.headerButtonTransfer {
    color: #ffffff !important;
    background-color: #7D8597 !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    font-size: 25px !important;
    padding: 10px 20px 10px 20px !important;
}

-container {
    margin-left: auto;
    margin-right: auto;
    width: 1060px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    height: 83vh;
}

.paddingCards {
    padding: 0px 40px 0px 40px !important;
}

.uk-card-title {
    font-size: 25px !important;
}

.uk-card-paragraph {
    font-size: 20px !important;
}

.balance-card {
    padding: 20px !important;
}

.user-balance {
    margin-bottom: -5px;
}

.user-balance-usd {
    font-size: .8rem !important;
    color: darkgray;
}

.depWith-button, .user-info-button {
    border-color: black !important;
    margin: 0 !important;
}

.ping-button {
    border-color: transparent;
    background: rgb(133, 219, 5);
    color: white !important;
}

.depWith-button:nth-child(1) {
    margin-right: 5px !important;
}

.depWith-button:hover {
    color: whitesmoke !important;
    background: black !important;
}

.user-info {
    font-size: .875rem !important;
}

@media only screen and (max-width: 640px) {
    uk-grid {
        display: block !important;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
  }