.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pinging {
  display: flex;
  height: 200px;
  justify-self: center;
  align-items: center;
  width: 100%;
}
.uk-text-left{
  width: auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
}
